:root{
    --links: #404bbf;
    --main-color: #2E2F42;
    --brand-color: #4D5AE5;
    --main-text-color: #434455;
    --background-white: #FFFFFF;
    --text-white: #FFFFFF;
    --footer-color: #F4F4FD;
}

img {
    display: block;
}

* {
  box-sizing: border-box;
}

body {
font-family: 'Roboto', sans-serif;
 color: var(--main-text-color);
background: var(--background-white) ;
}

.link {
    text-decoration: none;
}

.hdr{
background-color: #E7E9FC;
border-bottom: 1px solid #e7e9fc;
}

.header {
    height: 76px;
    width: 1158px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
}

.logo-link {
padding: 0;
margin-right: 76px;
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
color: var(--brand-color);
text-transform: uppercase;
}

.link-studio {
color: var(--main-color);
}

.nav {
display: flex;
align-items: center;
justify-content: flex-start;
}

.nav-link {
color: var(--main-color);
text-decoration: none;
}

.nav-link:hover,
.nav-link:focus{
color: var(--links);
}

.nav-list {
list-style-type: none;
font-weight: 500;
font-size: 16px;
list-style: none;
line-height: 24px;
letter-spacing: 0.02em;
display: flex;
margin: 0;
gap: 40px;
}

.nav-list .link{
 display: block;
 padding: 24px 0;
}

.address{
font-style: normal;
}

.contacts-list {
list-style-type: none;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
text-decoration: none;
display: flex;
margin: 0;
gap: 40px;
}

.contacts-link {
display: block;
margin: 0;
padding: 24px;
}

.contacts-list .link:hover,
.contacts-list .link:focus {
color: var(--links);
}

.contacts-list .link{
color: var(--main-text-color);
}

.section-one {
background-color: var(--main-color);
padding: 188px 0;
display: flex;
}

.first-text{

}


.main-text {
font-size: 56px;
color: var(--text-white);
background-color: var(--main-color);
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
max-width: 496px;

}

.main-button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
color: var(--text-white);
background: var(--brand-color);
line-height: 24px;
letter-spacing: 0.04em;
cursor: pointer;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
}

.main-button:hover,
.main-button:focus{
background-color: #404BBF;
}
.feat-list{
list-style-type: none;
}
.titlle-list {
font-weight: 500;
font-size: 20px;
color: var(--main-color);
line-height: 24px;
letter-spacing: 0.02em;
}
.p-list {
font-size: 16px;
color: var(--main-text-color);
line-height: 24px;
letter-spacing: 0.02em;
}
.second-text {
font-size: 36px;
text-align: center;
color: var(--main-color);
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.img-list {
list-style-type: none;
}
.section-team {
background-color: #F4F4FD;
}
.our-team {
font-size: 36px;
text-align: centeqr;
color: var(--main-color);
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
}
.our-team-list {
list-style: none;

}
.personal-list{
    background-color: var(--background-white);
}

.team-list {
font-weight: 500;
font-size: 20px;
color: var(--main-color);
line-height: 1.2;
letter-spacing: 0.02em;

}
.team-p-list {
font-size: 16px;
color: var(--main-text-color);
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
}
.text-footer {
font-size: 16px;
color: var(--footer-color);
line-height: 24px;
letter-spacing: 0.02em;
}
.footer {
background: var(--main-color);
}
.link-studio-footer {
color: var(--footer-color);
}

.button-list{
list-style-type: none;
}

.button-link{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
color: var(--brand-color);
background: #F4F4FD;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}

.button-link:hover,
.button-link:focus {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
color: var(--text-white);
background: var(--links);
}

.portfolio-list{
list-style-type: none;
text-decoration: none;
}

.main-portfolio a{
    text-decoration: none;
}

.main-portfolio-titlle {
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: var(--main-color);
line-height: 1.2;
letter-spacing: 0.02em;
}

.main-portfolio-p {
font-size: 16px;
color: var(--main-text-color);
line-height: 1.5;
letter-spacing: 0.02em;
}

